.text-h1 {
  text-align: center;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  font-size: 64px;

  span {
    color: var(--text-secondary);
  }
}

.text-h2 {
  font-weight: 700;
}
