/* шрифты */
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import '@fontsource/roboto/900.css';

/* стили */
@import 'styles/reset.css';
@import 'styles/vars.css';
@import 'styles/button.css';
@import 'styles/headings.css';

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--bg-white);
	font-family: var(--ff-primary);
	color: var(--text-primary);
	font-size: var(--font-primary);
}
